/* Basic reset for consistent rendering */
body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.app {
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.drink-slide {
    display: flex;              /* Use flexbox to align items horizontally */
    align-items: center;        /* Center the content vertically */
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 350px;               /* Adjust width to fit your design */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.drink-image {
    width: 150px;               /* Fixed width for the image */
    height: auto;               /* Maintain aspect ratio */
    border-radius: 10px;
    margin-right: 20px;         /* Space between image and text */
}

.drink-details {
    text-align: left;
    flex: 1;                    /* Allow the text to take up the remaining space */
}

h2 {
    margin: 10px 0;
}

.price {
    color: #888;
    font-weight: bold;
}

.recipe {
    white-space: pre-wrap;
    font-family: monospace;
}

/* FullScreen Slideshow related section */
.start-slideshow-button,
.exit-slideshow-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.full-screen-slideshow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(60, 59, 59, 0.9);
    z-index: 9999;
}

.full-screen-slideshow .drink-slide {
    justify-content: center;
    align-items: center;
    width: 78%;
    height: 78%;
    margin: 20px;
    padding: 40px;


    /* Adjust the content to fit the increased space */
    text-align: center;
    font-size: 30px;
}

.full-screen-slideshow .drink-image {
    width: 300px;
    height: audto;
    margin-right: 100;
    padding-right: 100;
}

/* Grid layout for the homepage */
.slideshow.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid with minimum item width */
    gap: 30px; /* Space between grid items */
    padding: 20px;
}

/* The rest of your existing styles */
